<!-- <div class="row row-cols-5 row-cols-sm-3">
   <div class="col"></div>
   <ng-container *ngFor="let monstie of monsties">
    <div class="col" style="border: 1px solid black; background-color: white; padding-bottom: 5px; margin-bottom: 5px; text-align: center;">pootis</div>
    <div class="col"></div>
   </ng-container>
</div>
 -->
<div class="monstie-table-container">
  <div class="d-none header-bar row">
    <div class="header-option col-6">Test 1</div>
        <div class="header-option col-6">Test 2</div>

  </div>
  <div class="monstie-table">
    <div class="row">
      <ng-container *ngFor="let monstie of monsties">
        <div *ngIf="monstie.number && monstie.owned" class="monstie-cell-container col-xs-12 col-sm-6 col-md-2 col-lg-1">
          <div
            class="monstie-cell"
            [style.border-color]="getMonstieBorderStyle(monstie.genus)"
            (mouseover)="setHover(monstie.genus)"
            (mouseleave)="removeHover(monstie.genus)"
            [ngClass]="{
              hover: currentHover === monstie.genus,
              owned: monstie.owned
            }"
          >
            <div class="monstie-info">
              <img class="type-icon" [src]="monstieTypeIconMap[monstie.type]" />
              <div class="monstie-name">{{ monstie.name }}</div>
              <div class="monstie-star">
                ★{{ monstie.star ?? '?' }}
              </div>
            </div>
            <div class="egg-container">
              <img class="monstie-egg" [src]="monstie.eggUrl" />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
