<!-- <div class="row row-cols-5 row-cols-sm-3">
   <div class="col"></div>
   <ng-container *ngFor="let monstie of monsties">
    <div class="col" style="border: 1px solid black; background-color: white; padding-bottom: 5px; margin-bottom: 5px; text-align: center;">pootis</div>
    <div class="col"></div>
   </ng-container>
</div>
 -->
<div class="monstie-table-container">
  <div class="header-bar">
    <div class="header-controls">
      <div class="clear-sticky" (click)="clearSticky()">Clear</div>
      <div class="status-checkboxes">
        <label class="checkbox-label">
          <input type="checkbox" [(ngModel)]="showOwned" (ngModelChange)="onFilterChange()" />
          <span>Owned</span>
        </label>
        <label class="checkbox-label">
          <input type="checkbox" [(ngModel)]="showSeen" (ngModelChange)="onFilterChange()" />
          <span>Seen</span>
        </label>
        <label class="checkbox-label">
          <input type="checkbox" [(ngModel)]="showUnknown" (ngModelChange)="onFilterChange()" />
          <span>Unknown</span>
        </label>
      </div>
    </div>
    <div *ngIf="stickyMonstie" class="sticky-details-container">
      <div class="sticky-name">{{ stickyMonstie.name }}</div>
      <div class="sticky-type-icons">
        <img [src]="monstieTypeIconMap[stickyMonstie.type]" class="type-icon type-icon-medium" />
        <img
          *ngIf="stickyMonstie?.enragedType"
          [src]="monstieTypeIconMap[stickyMonstie.enragedType || MonstieType.UNKNOWN]"
          class="type-icon type-icon-medium type-icon-enraged"
        />
      </div>
      <div class="sticky-ele-res">
        <table class="ele-res-table">
          <thead>
            <tr>
              <th *ngFor="let ele of elementList">
                <img [src]="monstieElementIconMap[ele]" class="ele-icon" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let ele of elementList">
                <ng-container *ngIf="stickyMonstie?.elementRes?.[ele] as strength">
                  <img [src]="monstieStrengthIconMap[strength]" class="strength-icon" />
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="sticky-ailment-res">
        <table class="ailment-res-table">
          <thead>
            <tr>
              <th *ngFor="let ailment of ailmentList">
                <img [src]="monstieAilmentIconMap[ailment]" class="ailment-icon" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td *ngFor="let ailment of ailmentList">
                <ng-container *ngIf="stickyMonstie?.ailmentRes?.[ailment] as strength">
                  <img [src]="monstieStrengthIconMap[strength]" class="strength-icon" />
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="monstie-table">
    <ng-container *ngFor="let monstie of monsties">
      <div *ngIf="monstie.canDisplay" class="monstie-cell-container">
        <div
          class="monstie-cell"
          [style.border-color]="monstieGenusColorMap[monstie.genus]"
          (mouseover)="setHover(monstie)"
          (mouseleave)="removeHover(monstie)"
          (click)="setStickyMonstie(monstie)"
          [ngClass]="{
            hover: currentHover === monstie.genus,
            owned: monstie.status == MonstieStatus.OWNED
          }"
        >
          <div class="monstie-info top-info">
            <img class="type-icon type-icon-small" [src]="monstieTypeIconMap[monstie.type]" />
            <div class="monstie-name">{{ monstie.name }}</div>
            <div class="monstie-star">★{{ monstie.star ?? '?' }}</div>
          </div>
          <div class="icon-container">
            <img class="monstie-icon" [src]="monstie.iconUrl" />
          </div>
          <div class="monstie-info bottom-info">
            <img *ngIf="monstie.elements.length > 0" class="type-icon type-icon-small" [src]="monstieElementIconMap[monstie.elements[0] || MonstieElement.NON]" />
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
